.footer {
    height: 630px;
    position: relative;
    iframe{
        height: 630px;
        width: 100%;
        frameborder:0;
    }

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;

    }

    &__addr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin-top: 50px;
    }

    &__phone {
        display: block;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin-top: 36px;

        &:hover {
            color: #ffffff;
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin: 0 auto;
        margin-top: 36px;
        transition: 0.5s all;
    }

    &__social-item {
        transition: 0.5s all;
            img {
                border-radius: 100%;
                &:hover {
                    width: 105%;
                    box-shadow: 3px 3px 20px rgb(101, 17, 17);
                }
            }
        }
    }